@import '~@angular/material/theming';

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* display: block; */
}

mat-sidenav {
  width: 300px;
}

mat-toolbar {
  z-index: 2;
  font-weight: 800;
  @include mat-elevation(4, black, 0.2);
}
