.list-cell {
  display: block;
  // height: 200px !important;
  padding: 10px;
  text-decoration: none; // Remove underline
  img {
    max-width: 90%;
    max-height: 150px;
  }
  &, &:visited {
    color: black;
  }
  &:hover .title {
    text-decoration: underline;
  }
}

$subtitle-size: 14px;
.subtitle {
  font-size: $subtitle-size;
  color: #BBBBBB;
  mat-icon {
    margin-left: 5px;
    font-size: $subtitle-size;
    height: $subtitle-size;
    width: $subtitle-size;
  }
}
.label {
  margin-bottom: 20px;
  font-size: 16px;
}
.thumbnail {
  width: 100px;
  height: 90px;
  background-image: linear-gradient(135deg, gray 0%, #222222 100%);
}